<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.lakeshorelearning.mobileapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.lakeshorelearning.mobileapp.payments</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FullStory</key>
	<dict>
		<key>OrgId</key>
		<string>15WC2M</string>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Your camera is required to scan credit card</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Contact Access</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you quick and secure access to your account</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location is required to found nearest store</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is required to found nearest store</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is required to found nearest store</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your microphone is required to search product with your voice.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Description of why you require the use of the speech recognition</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gotham-Medium.otf</string>
		<string>Gotham Regular.otf</string>
		<string>GothamNarrow-Ultra.otf</string>
		<string>GothamNarrow-Thin.otf</string>
		<string>GothamNarrow-Book.otf</string>
		<string>Gotham-XLightItalic.otf</string>
		<string>Gotham-XLight.otf</string>
		<string>Gotham-UltraItalic.otf</string>
		<string>Gotham-ThinItalic.otf</string>
		<string>Gotham-Thin.otf</string>
		<string>Gotham-Light.otf</string>
		<string>Gotham-BookItalic.otf</string>
		<string>Gotham-Book.otf</string>
		<string>Gotham-Bold.otf</string>
		<string>Gotham-Black.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
